.navbar{
    border-bottom: 1px solid #d4d4d4;
    width: 100%;
    display: flex;
    justify-content: center;
}
.navitem ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navitem ul li {
    margin-right: 10px;
}

.navitem ul li a {
    text-decoration: none;
}